* It is easy to apply and score.
* All kinds of information can be measured.
* To answer the questions takes a short time.
* It is suitable to be used in exams for groups with high participation.
* It is easily applicable at all levels and stages of education.
* Reliability and content validity are high since it is possible to ask many questions in the exam.
* When the answers are not marked on the exam paper,the exam paper can be used repeatedly.
* The exam results are objective since they do not vary from evaluator to evaluator.
* It provides a variety of statistical applications.Statistical procedures can be carried out with data obtained from the exam.
