* There is a chance success
* It does not improve the ability of expression
* Most of the test time is spent on reading choices and finding the right answer
* It measures knowledge and remembering and is limited in measuring information that is at the level of synthesis and evaluation
* The forming,organizing,and writing of the questions requires expertise and experience
* It is not used much in the measurement of advanced behaviors
